@charset "UTF-8";
/* 로고 : MOVE Sans */
@font-face {
  font-family: "MoveSans-Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/MoveSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid navy; */
}
body {
  /* 320px 이하로 줄어들었을때 레이아웃 유지시키기 */
  min-width: 320px;
  /* max-width: 990px; */
}
/* 헤더 css 시작 */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  background-color: #000000;
  color: white;
  height: 50px;
  width: 100%;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 35px;
  padding: 0 10px;
  border-radius: 5px;
  border: 2px solid #FFBF00;
}
header .logo span {
  color: #FFBF00;
  font-family: "MoveSans-Bold";
  font-size: 20px;
  font-weight: 500;
  line-height: 7px;
  /* 53.846% */
}
/* 헤더 css 끝 */
/* 메인 css 시작 */
main {
  background-color: #000;
  width: 100%;
  height: 100%;
  padding: 20px 20px;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
  gap: 50px;
  padding-bottom: 50px;
}
.tabs {
  display: flex;
  justify-content: space-around;
  background-color: #000;
}
.tabs .tablink {
  font-size: 16px;
}
.tabcontent .ticket {
  width: 100%;
}
.tabcontent .top {
  position: relative;
}
.tabcontent .top img {
  width: 280px;
  height: 100%;
}
.tabcontent .qrContainer {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tabcontent .qrContainer img {
  width: 100px;
  height: 100px;
}
.tabcontent .bottom {
  position: relative;
}
.tabcontent .bottom::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 224px;
  border-top: 4px dashed #fff;
}
.tabcontent .bottom img {
  width: 280px;
  height: 280px;
}
.tabcontent .infoContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tabcontent .infoContainer p {
  color: #000;
  margin: 0;
  text-align: left;
  font-size: 16px;
}
.tabcontent .infoContainer .infoB {
  font-weight: 800;
}
.btnConfrim {
  position: absolute;
  bottom: 20%;
  transform: translate(-50%, -50%);
  background-color: #4DFF4D;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
}
.btnConfrim:hover {
  background: #F3F3F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  color: #4DFF4D;
}
.tablink {
  background-color: #000;
  color: #fff;
  border: none;
  width: 50%;
  cursor: pointer;
  text-align: center;
  font-size: 12px;
}
.tablink.active {
  color: #4DFF4D;
  border-bottom: 2px solid #4DFF4D;
}
.tabcontent {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
}
.tabcontent p {
  margin: 20px 0;
}
.buyTickets {
  background-color: #00A8FF;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  width: 230px;
  font-size: 18px;
  font-weight: 400;
}
.buyTickets:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
/* 캐러셀 커스텀 */
.swiper-button-next, .swiper-button-prev, .swiper-pagination-fraction {
  color: #fff;
}
.swiper {
  width: 100%;
}
.swiper.mySwiper {
  display: flex;
  position: relative;
}
.swiper-button-next,
.swiper-button-prev {}
.swiper-wrapper {
  height: 600px;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #fff;
}
.swiper-button-next {
  position: absolute;
  top: 45%;
}
.swiper-button-prev {
  position: absolute;
  top: 45%;
}
.ticket-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.ticket {

  background: url(/waterbomb_project/image/myticket/ticket.png) no-repeat 50% 0% / contain;


  color: #000;
  border-radius: 10px;
  padding: 20px 20px;
  width: 280px;
  height: auto;
}
.ticket-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.qr-code {
  font-size: 100px;
  text-align: center;
  margin: 20px 0;
}
.confirm-btn {
  background-color: #4DFF4D;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
}
/* 모바일 화면에서 티켓 크기 조정 */
@media (max-width: 600px) {
  .tabs .tablink {
    font-size: 12px;
  }
  .tabcontent .ticket {
    width: 100%;
  }
  .tabcontent .top img,
  .tabcontent .bottom img {
    width: 100%;
    height: auto;
  }
  .tabcontent .bottom::before {
    width: 200px;
  }
  .tabcontent .infoContainer {
    width: 48%;
    top: 50%;
  }
  .tabcontent .infoContainer p {
    font-size: 14px;
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }
}
/* 메인 css 끝 */
/* 풋터 시작 */
footer {
  display: flex;
  justify-content: center;
  background-color: #000;
}
footer .contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  color: #fff;
}
footer .contents p {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  /* 266.667% */
  margin: 0;
}
footer .contents .icoGroup {
  display: flex;
  gap: 20px;
  padding: 10px 0;
}
footer span {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
}
.tapContainer {
  display: flex;
  justify-content: center;
  width: 320px;
}
.nav-item {
  width: auto;
}

.swiper-slide {
  height: 60vh;
}