@charset "UTF-8";

/* 로고 : MOVE Sans */
@font-face {
  font-family: "MoveSans-Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/MoveSans-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
/* 영문, 국문 : Sans serif  */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

/* -----------------------------시작---------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  /* outline: 1px solid navy; */
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  padding: 0;
  margin: 0;
}
body,
html {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  width: 100%;
  height: 100%;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  border-radius: 5px;
  border: 3px solid #ffbf00;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.logo span {
  color: #ffbf00;
  font-family: "MoveSans-Bold";
  font-size: 30px;
  font-weight: 500;
  line-height: 7px;
}
.loginBox {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 300px;
  height: 570px;
  padding: 20px;
  background-color: black;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.header {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 10px;
}
.fa-arrow-left {
  color: white;
}
.loginContainer {
  display: flex;
  flex-direction: column;
}
.idGroup {
  margin-bottom: 15px;
}
.fa-eye {
  position: relative;
  bottom: 34px;
  left: 42%;
}
.fa-eye-slash {
  content: "\f070"; /* FontAwesome의 fa-eye-slash 아이콘 코드 */
}
.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.loginInput,
.passwordInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.formButton {
  width: 100%;
  padding: 10px;
  background-color: #00a8ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.formButton:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4) inset;
}
.accountLinks {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  position: relative;
}
.accountLinks p {
  cursor: pointer;
  color: #fff;
  font-size: 16px;
}
.accountLinks p:nth-child(2) {
  border-left: 2px solid white;
  padding-left: 10px;
}
.accountLinks p:nth-child(3) {
  border-left: 2px solid white;
  padding-left: 10px;
}
.accountLinks p:hover {
  text-decoration: underline;
}
.socialGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.iconGroup {
  display: flex;
  gap: 50px;
}
.socialGroup img {
  width: 40px; /* 아이콘의 크기를 조절할 수 있습니다 */
  height: 40px;
  cursor: pointer;
}
.socialGroup img:hover {
  filter: brightness(70%);
}
.guestBtnGroup {
  display: flex;
  gap: 10px;
}
.guestPurchaseBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 122px;
  height: 29px;
  border-radius: 30px;
  background: #fff;
  border-color: transparent;
  color: #000;
  font-size: 16px;
  line-height: 23px; /* 164.286% */
}
.guestPurchaseBtn:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
