@charset "UTF-8";

/* 로고 : MOVE Sans */
@font-face {
  font-family: "MoveSans-Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/MoveSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
/* 한글, 영문 : Sans serif  */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

/* -----------------------------시작---------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  /* outline: 1px solid navy; */
}
/* 헤더 css 시작 */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  background-color: #000000;
  color: white;
  height: 50px;
  width: 100%;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  border: 2px solid #ffbf00;
}
header .logo span {
  color: #ffbf00;
  font-family: MoveSans;
  font-size: 13px;
  font-weight: 500;
  line-height: 7px;
}
/* 헤더 css 끝 */

.selectionBox {
  display: flex;
  flex-direction: column;
  padding: 5px 0 0 0;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 5px 0;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 30%;
  width: 100%;
  height: 100%;
  border-color: transparent;
}
.card:hover {
  cursor: pointer;
}
.card > div {
  display: flex;
  width: 32px;
  height: 15px;
  justify-content: center;
  border-radius: 5px;
  border: 2px solid #FFF;
}
.card > div > h3 {
  color: #FFF;
  font-family: MoveSans;
  font-size: 4px;
  font-weight: 500;
  line-height: 7px;
}
h2 {
  font-size: 16px;
  line-height: 12px;
  font-weight: 700;
  margin-bottom: 0;
}
h3 {
  font-size: 4px;
}
p {
  font-size: 9px;
  font-weight: 500;
  line-height: 12px;
}
.card:nth-child(1) {
  background: url(/waterbomb_project/image/ticket_selection/seoul1.jpg) no-repeat 100% / cover;
}
.card:nth-child(1):hover {
  background: url(/waterbomb_project/image/ticket_selection/seoul2.jpg) no-repeat 100% / cover;

}
.card:nth-child(2) {
  background: url(/waterbomb_project/image/ticket_selection/jeju1.jpg) no-repeat 100% / cover;
}
.card:nth-child(2):hover {
  background: url(/waterbomb_project/image/ticket_selection/jeju2.jpg) no-repeat 100% / cover;
}
.card:nth-child(3) {
  background: url(/waterbomb_project/image/ticket_selection/daegu1.jpg) no-repeat 100% / cover;
}
.card:nth-child(3):hover {
  background: url(/waterbomb_project/image/ticket_selection/daegu2.jpg) no-repeat 100% / cover;
}
.card:nth-child(4) {
  background: url(/waterbomb_project/image/ticket_selection/busan1.jpg) no-repeat 100% / cover;
}
.card:nth-child(4):hover {
  background: url(/waterbomb_project/image/ticket_selection/busan2.jpg) no-repeat 100% / cover;
}
.card:nth-child(5) {
  background: url(/waterbomb_project/image/ticket_selection/incheon1.jpg)no-repeat 100% / cover;
}
.card:nth-child(5):hover {
  background: url(/waterbomb_project/image/ticket_selection/incheon2.jpg) no-repeat 100% / cover;
}
.card:nth-child(6) {
  background: url(/waterbomb_project/image/ticket_selection/daejeon1.jpg) no-repeat 100% / cover;
}
.card:nth-child(6):hover {
  background: url(/waterbomb_project/image/ticket_selection/daejeon2.jpg) no-repeat 100% / cover;
}
.card:nth-child(7) {
  background: url(/waterbomb_project/image/ticket_selection/sokcho1.jpg) no-repeat 100% / cover;
}
.card:nth-child(7):hover {
  background: url(/waterbomb_project/image/ticket_selection/sokcho2.jpg) no-repeat 100% / cover;
}
.card:nth-child(8) {
  background: url(/waterbomb_project/image/ticket_selection/suwon1.jpg) no-repeat 100% / cover;
}
.card:nth-child(8):hover {
  background: url(/waterbomb_project/image/ticket_selection/suwon2.jpg) no-repeat 100% / cover;
}
.card:nth-child(9) {
  background: url(/waterbomb_project/image/ticket_selection/yeosu1.jpg) no-repeat 100% / cover;
}
.card:nth-child(9):hover {
  background: url(/waterbomb_project/image/ticket_selection/yeosu2.jpg) no-repeat 100% / cover;
}
.calender {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: #ffbf00;
}
.flatpickr-calendar {
  display: block !important;
  position: static !important;
  visibility: visible;
  opacity: 1;
}
#datepicker-container {
  width: 100%;
}
.flatpickr-calendar.animate.inline {
  width: 100%;
}
.flatpickr-innerContainer {
  width: 100%;
  justify-content: center;
}
.count {
  width: 100%;
  height: 55px;
  background-color: aquamarine;
}
/* footer css 시작 */
footer {
  display: flex;
  justify-content: center;
  background-color: #000;
}
footer .contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  color: #fff;
}
footer .contents p {
  text-align: center;
  font-size: 10px;
  line-height: 24px;
  /* 266.667% */
  margin: 0;
}
footer .contents .icoGroup {
  display: flex;
  gap: 20px;
  padding: 10px 0;
}
footer span {
  text-align: center;
  font-size: 10px;
  line-height: 24px;
}
/* footer css 끝 */