@charset "UTF-8";
/* 로고 : MOVE Sans */
@font-face {
  font-family: "MoveSans-Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/MoveSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
/* 영문 : Sans serif  */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
/* -----------------------------시작---------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  /* outline: 1px solid navy; */
}
body {
  display: flex;
  flex-direction: column;
  /* 320px 이하로 줄어들었을때 레이아웃 유지시키기 */
  min-width: 320px;
  /* max-width: 990px; */
}
/* 헤더 css 시작 */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  background-color: #000000;
  color: white;
  height: 50px;
  width: 100%;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  border: 2px solid #ffbf00;
}
header .logo span {
  color: #ffbf00;
  font-family: MoveSans;
  font-size: 13px;
  font-weight: 500;
  line-height: 7px;
}

/* 메인 css 시작 */
main {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  height: auto;
}

/* sec01 */
.sec01 {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 100%; */
  /* height: auto; */
  gap: 10px;
}
.sec01 .fa-circle-check {
  font-size: 40px;
  color: #4DFF4D
}
.sec01 .notice {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sec01 .paymentCompleted {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.sec01 .notice .fw-semibold {
  font-size: 15px;
}
.sec01 .notice .description .code,
.sec01 .notice .reservationNo,
.sec01 .notice .myTickets,
.sec01 .notice .phoneNo {
  color: #0AABFF
}
.sec01 .notice {
  font-size: 12px;
  color: #686868;
}
.sec01 .notice .fw-semibold:last-child {
  font-size: 12px;
}
/* sec02 */
.sec02 .img-fluid {
  width: 100%;
}
.sec03 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0px 10px 20px 10px;
  background: #0AABFF;
}
.sec03Inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 10px;
  padding: 10px 0px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border-bottom: 2px dashed #0AABFF;
}
.info {
  display: flex;
  justify-content: center;
}
.infoList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sec03 .caution {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
  border-top: 1px dashed #686868;
  font-size: 12px;
}
footer {
  display: flex;
  justify-content: center;
  background-color: #000;
}
footer .contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  color: #fff;
}
footer .contents p {
  text-align: center;
  font-size: 15px;
  line-height: 24px;
  /* 266.667% */
  margin: 0;
}
footer .contents .icoGroup {
  display: flex;
  gap: 20px;
  padding: 10px 0;
}
footer span {
  text-align: center;
  font-size: 7px;
  line-height: 24px;
}