@charset "UTF-8";
/* 로고 : MOVE Sans */
@font-face {
  font-family: "MoveSans-Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/MoveSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
/* 영문 : Sans serif  */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
/* -----------------------------시작---------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  /* outline: 1px solid navy; */
}
body {
  display: flex;
  flex-direction: column;
  /* 320px 이하로 줄어들었을때 레이아웃 유지시키기 */
  min-width: 320px;
  /* max-width: 990px; */
}
/* 헤더 css 시작 */
.navbar {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* padding: 0 0 0 10px; */
  background-color: #000000;
  color: white;
  height: 50px;
  /* width: 100%; */
}
.logo {
  display: flex;
  width: 100px;
  height: 35px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 2px solid #FFBF00;
}
.logo span {
  color: #FFBF00;
  font-family: "MoveSans-Bold";
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 7px;
  /* 87.5% */
}
/* .nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}
.nav-links li a {
  color: white;
  text-decoration: none;
}
.hamburger {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
}
.navRight {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navRight a {
  text-decoration: none;
}
.navRight a button {
  display: flex;
  height: 24px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border-color: transparent;
  background: #0AABFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #000;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  175%
}
.close-btn {
  color: white;
}
.side-menu {
  display: none;
} */
main {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  height: auto;
}
.sec01 {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 10px 20px; */
  /* width: 100%; */
  /* height: auto; */
  gap: 5px;
}
.sec01 .fa-circle-check {
  font-size: 40px;
  color: #4DFF4D
}
.sec01 .notice {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sec01 .notice span:first-child {
  font-size: 15px;
}
.sec01 .notice span:last-child {
  color: #0AABFF
}
.sec01 .notice span {
  font-size: 12px;
  color: #686868;
}
/* .sec02 {
  width: 100%;
  height: 180px;
  background: url(/waterbomb_project/image/payment_success/payment_success.jpg) no-repeat 100%/ cover;
} */
.sec02 .img-fluid {
  width: 100%;
}
.sec03 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0px 10px 20px 10px;
  background: #0AABFF;
}
.sec03Inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 10px;
  padding: 10px 0px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border-bottom: 2px dashed #0AABFF;
}
.info {
  display: flex;
  justify-content: center;
}
.infoList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sec03 .caution {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
  border-top: 1px dashed #686868;
}
footer {
  display: flex;
  justify-content: center;
  background-color: #000;
}
footer .contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  color: #fff;
}
footer .contents p {
  text-align: center;
  font-size: 15px;
  line-height: 24px;
  /* 266.667% */
  margin: 0;
}
footer .contents .icoGroup {
  display: flex;
  gap: 20px;
  padding: 10px 0;
}
footer span {
  text-align: center;
  font-size: 7px;
  line-height: 24px;
}