@charset "UTF-8";

/* 로고 : MOVE Sans */
@font-face {
  font-family: "MoveSans-Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/MoveSans-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
/* 영문, 국문 : Sans serif  */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

/* -----------------------------시작---------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  /* outline: 1px solid navy; */
}
/* 부트스트랩때문에 생기는 자동 마진 초기화 시키기 */
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  padding: 0;
  margin: 0;
}
body {
  /* 320px 이하로 줄어들었을때 레이아웃 유지시키기 */
  display: flex;
  flex-direction: column;
  align-content: center;
}

/* 헤더 css 시작 */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  background-color: #000000;
  color: white;
  height: 50px;
  width: 100%;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 35px;
  padding: 0 10px;
  border-radius: 5px;
  border: 2px solid #ffbf00;
}
header .logo span {
  color: #ffbf00;
  font-family: "MoveSans-Bold";
  font-size: 20px;
  font-weight: 500;
  line-height: 7px; /* 53.846% */
}
.sec01 {
  position: relative;
  width: 100%;
  height: 380px;
  overflow: hidden;
}
.sec01 video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
  pointer-events: none; /* 사용자가 비디오를 클릭할 수 없도록 함 */
  -webkit-touch-callout: none; /* 모바일 사파리에서 비디오를 선택할 수 없도록 함 */
}
/* sec02 css 시작 */
.sec02 {
  width: 100%;
  height: 100%;
  background: url(/waterbomb_project/image/main/sec02_bg.png) lightgray 0px 0px /
    100% 100% no-repeat;
}
.sec02 .inner {
  display: flex;
  padding: 30px 0px;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  flex: 1 0 0;
  position: relative;
}
.sec02 .inner .buyTicket {
  font-size: 20px;
  width: 139px;
  height: 30px;
  line-height: 21px;
  border-radius: 10px;
  border-color: transparent;
  background: #17b0ff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: sticky;
  top: 4px;
}
.sec02 .contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 100%;
}
.sec02 .contents .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  height: 56px;
  color: #fff;
}
.sec02 .contents .title h1 {
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  line-height: 21px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.sec02 .contents .info {
  display: flex;
  gap: 50px;
}
.sec02 .location {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sec02 .location h2 {
  color: #ffbf00;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  line-height: 21px; /* 95.455% */
  padding-bottom: 10px;
}
.sec02 .date {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sec02 .date h2 {
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 21px; /* 105% */
  padding-bottom: 10px;
}
.fa-circle-arrow-up {
  color: white;
  position: fixed;
  right: 40px;
  bottom: 90px;
  z-index: 9;
}
#myticket-btn {
  position: fixed;
  right: 20px;
  bottom: 140px;
  z-index: 9;
  width: auto;
  height: auto;
  padding: 5px;
  border-color: transparent;
  border-radius: 20px;
  background-color: #f9dd68;
  font-weight: 800;

  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11),
    0 8px 16px rgba(0, 0, 0, 0.11);
}
/* sec03 css 시작 */
.sec03 {
  width: 100%;
  height: 350px;
  padding-top: 16px;
  background: url(/waterbomb_project/image/main/sec03_bg.png) lightgray 0px 0px /
    100% 100% no-repeat;
}
.sec03 .contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}
.sec03 .title {
  display: flex;
  height: 56px;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  align-self: stretch;
}
.sec03 .title h2 {
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 30px;
  font-weight: 800;
  line-height: 21px;
}
.sec03 .title h3 {
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  line-height: 21px; /* 105% */

  /* 폰트에 그라데이션효과 입히기 */
  background-image: linear-gradient(to right, #c0c0c0, #ededed);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.carousel {
  width: 320px;
  height: auto;
}
footer {
  display: flex;
  justify-content: center;
  background-color: #000;
}
footer .contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  color: #fff;
}
footer .contents p {
  text-align: center;
  font-size: 14px;
  line-height: 24px; /* 266.667% */
  margin: 0;
}
footer .contents .icoGroup {
  display: flex;
  gap: 20px;
  padding: 10px 0;
}
footer span {
  text-align: center;
  font-size: 7px;
  line-height: 24px;
}
/* 바텀시트 css 시작 */
/* .bottomNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transform: translateY(100px);
  transition: transform 0.3s;
}
.bottomNav > button {
  width: auto;
  height: 100%;
  padding: 10px;
  border-color: transparent;
  margin-bottom: 12px;
  border-radius: 20px;
  background-color: #f9dd68;
  font-weight: 800;
}
.bottomNav > button i {
  padding-left: 5px;
}
.handlerBar {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 25px;
  background-color: #f9dd68;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
}
.handlerBar::before {
  content: "";
  width: 100px;
  height: 8px;
  margin-top: 8px;
  border-radius: 50px;
  background-color: #000;
}
.bottomNavContents {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #f9dd68;
  position: relative;
}
.bottomNavContents button {
  width: 100px;
  height: 40px;
  text-align: center;
}
.bottomNavContents button:first-of-type {
  border: 1px solid var(--Schemes-Outline, #79747e);
  background: rgba(255, 191, 0, 0.6);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.bottomNavContents button:last-of-type {
  border: 1px solid var(--Schemes-Outline, #79747e);
  background: rgba(255, 191, 0, 0.6);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.fa-xmark {
  position: absolute;
  bottom: 80%;
  left: 90%;
  cursor: pointer;
} */
/* 바텀시트 css 끝 */
/* swiper css 시작 */
.swiper {
  width: 100%;
  height: 257px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  background: #fff;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.autoplay-progress {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
/* swiper css 끝 */
