@charset "UTF-8";

/* 로고 : MOVE Sans */
@font-face {
  font-family: "MoveSans-Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/MoveSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
/* 영문, 국문 : Sans-serif  */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

/* -----------------------------시작---------------------------- */
* {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
  /* outline: 1px solid navy; */
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  padding: 0;
  margin: 0;
}
body {
  min-width: 320px;
}
/* 헤더 css 시작 */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  background-color: #000000;
  color: white;
  height: 50px;
  width: 100%;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 35px;
  padding: 0 10px;
  border-radius: 5px;
  border: 2px solid #ffbf00;
}
header .logo span {
  color: #ffbf00;
  font-family: "MoveSans-Bold";
  font-size: 20px;
  font-weight: 500;
  line-height: 7px;
  /* 53.846% */
}
/* 헤더 css 끝 */
/* main css 시작 */
.paymentContents {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.paymentContents > h2 {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1px solid #e4e4e6;
}
.guestInfo {
  display: flex;
  width: 100%;
  padding: 0px 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
.guestInfo p {
  margin: 0;
  font-weight: 600;
}
.guestInfo .info {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid #E4E4E6;
  background: #FFF;
  align-items: baseline;

}
.guestInfo .info p {
  width: auto;
  margin: 0;
  font-weight: 500;
}
.guestInfo .info span {
  width: auto;
  color: #0AABFF;
  font-size: 14px;
}
.confirmOrder {
  display: flex;
  padding: 10px;
  flex-direction: column;
  gap: 10px;
}
.confirmOrder p {
  margin: 0;
  font-weight: 600;
}
.confirmOrder span {
  color: #686868;
  font-weight: 400;
  font-size: 14px;
}
.confirmOrder .order {
  display: flex;
  padding: 12px 15px 16px 12px;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #e4e4e6;

  background: #f6f6f6;
}
.confirmOrder .order .orderContents {
  display: flex;
  align-items: center;
  gap: 20px;
}
.confirmOrder .order .orderContents .region {
  display: flex;
  width: 77px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: rgba(255, 191, 0, 0.7);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.confirmOrder .order .orderContents .regionSchedule p {
  font-weight: 500;
  font-size: 12px;
}
.paymentMethod {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
}
.paymentMethod p {
  margin: 0;
  font-weight: 600;
}
.paymentMethod .payList {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.paymentMethod .payList article {
  display: flex;
  width: 100px;
  height: 100px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: 2px solid #e4e4e6;
  cursor: pointer;
  transition: border-color 0.3s;
}
.paymentMethod .payList article.selected {
  border-color: #4DFF4D;
}
.paymentMethod .payList article p {
  margin: 0;
  font-size: 10px;
}
.totalAmount {
  display: flex;
  justify-content: center;
  gap: 10px;
  height: 49px;
  padding: 10px;
  border-top: 1px solid #e4e4e6;
  background: #f6f6f6;
}
.totalAmount .totalLabel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
}
.totalLabel p {
  margin: 0;
  font-weight: 600;
}
.terms p {
  padding: 10px 20px;
  margin: 0;
}
.btnConfirm {
  display: flex;
  width: 100%;
  padding: 10px;
  align-items: center;
  flex-direction: column;
}
.btnConfirm a {
  display: flex;
  width: 100px;
  height: 32px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  color: #000;
  text-decoration: none;
  background: #0AABFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-weight: 600;
}
.btnConfirm a:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
/* main css 끝 */
/* footer css 시작 */
footer {
  display: flex;
  justify-content: center;
  background-color: #000;
}
footer .contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  color: #fff;
}
footer .contents p {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  /* 266.667% */
  margin: 0;
}
footer .contents .icoGroup {
  display: flex;
  gap: 20px;
  padding: 10px 0;
}
footer span {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
}
/* footer css 끝 */